.App {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  padding-top: 10%;

  text-align: center;
  align-content: flex-end;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-celeb-name {
  background-color: black;
  color: #999;
  font-size: x-large;
  font-weight: bold;
  border-block-color: rgb(189, 141, 141);
  border-radius: 1ch;
  text-align: center;
  max-width: 90%;
  width: 14ch;
}

.text-areas {
  background-color: black;
  border-block-color: rgb(189, 141, 141);
  border-radius: 1ch;
  text-align: left;
  width: 19ch;
  color: #999;
  margin-bottom: 1ch;
}

.response {
  color: #999;
}

.person-name{
  color: rgb(189, 141, 141);
}

.social {
  /* display: flex; */
  height: 100%;
  width: 100%;
  /* text-align: end; */
  /* flex-direction: column; */
  /* align-self: flex-end; */
  /* align-content: flex-end; */
  position: relative;
  bottom: -35%;
}

/* .insta-icon { */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: end; */
/* } */

.response-area{
  height: 20ch;
}